<style type="text/css">
    #topbar{border-bottom: none;}
</style>
<div class="page-loading">页面加载中...</div>
<div id="fullpage">
    <div class="section" style="background-image:url(<%= require('images/zt/c1.png')%>);background-repeat: no-repeat;background-position:center center;">
        
    </div>
    <div class="section" style="background-image:url(<%= require('images/zt/c2.png')%>);background-repeat: no-repeat;background-position:center center;">
    </div>
     <div class="section" style="background-image:url(<%= require('images/zt/c3.png')%>);background-repeat: no-repeat;background-position:center bottom;">
    </div>
     <div class="section" style="background-image:url(<%= require('images/zt/c4.png')%>);background-repeat: no-repeat;background-position:center center;">
    </div>
    <div class="section" style="background-image:url(<%= require('images/zt/c5.png')%>);background-repeat: no-repeat;background-position:center center;">
    </div>
    <div class="section" style="background-image:url(<%= require('images/zt/c6.png')%>);background-repeat: no-repeat;background-position:center center;">
        <a target="_blank" href="/page/buy/category.html" class='order_btn'>采购下单</a>
    </div>
</div>