<style type="text/css">
    #topbar{border-bottom: none;}
    #footer,#kefu{display: none;}
</style>
<div class="page-loading">页面加载中...</div>
<div id="fullpage">
    <div class="section" style="background-image:url(<%= require('images/zt/buy_1.png')%>);background-repeat: no-repeat;background-position:center center;background-size: cover;">
    </div>
    <div class="section" style="background-image:url(<%= require('images/zt/buy_2.png')%>);background-repeat: no-repeat;background-position:center center;background-color:#ffedb1;background-size: cover;">
    </div>
     <div class="section" style="background-image:url(<%= require('images/zt/buy_3.png')%>);background-repeat: no-repeat;background-position:center center;background-size: cover;">
    </div>
     <div class="section" style="background-image:url(<%= require('images/zt/buy_4.png')%>);background-repeat: no-repeat;background-position:center center;background-size: cover;">
    </div>
    <div class="section" style="background-image:url(<%= require('images/zt/buy_5.png')%>);background-repeat: no-repeat;background-position:center center;background-size: cover;">
    </div>
    <div class="section" style="background-image:url(<%= require('images/zt/buy_6.png')%>);background-repeat: no-repeat;background-position:center center;background-size: cover;">
    </div>
    <div class="section" style="background-image:url(<%= require('images/zt/buy_7.png')%>);background-repeat: no-repeat;background-position:center center;background-size: cover;">
    </div>
     <div class="section" style="background-image:url(<%= require('images/zt/buy_8.png')%>);background-repeat: no-repeat;background-position:center center;background-size: cover;">
    </div>
     <div class="section" style="background-image:url(<%= require('images/zt/buy_9.png')%>);background-repeat: no-repeat;background-position:center center;background-size: cover;">
    </div>
</div>