<div class="dis_banner" style="background: url(<%= require('images/zt/sal_banner.jpg')%>) no-repeat center center;height:400px;position: relative;top: -1px;">
    <a style="display: block;width: 100%;height: 100%;" target="_blank" href="/page/sell/category.html"></a>
</div>
<div class='sal_content'>
    <div class='wrap_sal'>
        <h3>
             <span>报价销售，为您实现利益最大化</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/sal_pic1.jpg')%>">
        </div>
    </div>
</div>
<div class='sal_content' style="background-color: #F6F6F6;">
    <div class='wrap_sal'>
        <h3>
             <span>先结算，快销售，让您资金快速回笼</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/sal_pic2.jpg')%>">
        </div>
    </div>
</div>
<div class='sal_content'>
    <div class='wrap_sal'>
        <h3>
             <span>价格担保、物流跟踪，让您交易更放心</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/sal_pic3.jpg')%>">
        </div>
    </div>
</div>
 <div class='sal_content' style="background-color: #F6F6F6;">
    <div class='wrap_sal'>
        <h3>
             <span>更多销售保障</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/sal_pic4.jpg')%>">
        </div>
    </div>
</div>
<div class='sal_content'>
    <div class='wrap_sal'>
        <h3>
             <span>交易动态实时送达</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/sal_pic5.jpg')%>">
        </div>
    </div>
</div>
 <div class='sal_content' style="background-color: #F6F6F6;">
    <div class='wrap_sal'>
        <h3>
             <span>行情动态免费订阅</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/sal_pic6.jpg')%>">
        </div>
    </div>
</div>
<div class='sal_content'>
    <div class='wrap_sal'>
        <h3>
             <span>每月超过100万台废旧手机，通过报价，圆满交易</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/sal_pic7.jpg')%>">
        </div>
    </div>
</div>