<div class="dis_banner" style="background: url(<%= require('images/zt/buy_banner.jpg')%>) no-repeat center center;height:400px;position: relative;top: -1px;">
     <a style="display: block;width: 100%;height: 100%;" target="_blank" href="/page/buy/category.html"></a>
</div>
<div class='buy_content'>
    <div class='wrap_sal'>
        <h3>
             <span>6大保障——更放心</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/buy_pic1.jpg')%>">
        </div>
    </div>
</div>
<div class='buy_content' style="background-color: #F6F6F6;">
    <div class='wrap_sal'>
        <h3>
             <span>轻松4步——更省心</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/buy_pic2.jpg')%>">
        </div>
    </div>
</div>
<div class='buy_content'>
    <div class='wrap_sal'>
        <h3>
             <span class='it'>“互联网+定制化”采购——更方便</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/buy_pic3.jpg')%>">
        </div>
    </div>
</div>
 <div class='buy_content' style="background-color: #F6F6F6;">
    <div class='wrap_sal'>
        <h3>
             <span>价格资讯 一手掌握——更及时</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/buy_pic4.jpg')%>">
        </div>
    </div>
</div>