<div class="page-loading">页面加载中...</div>
<div id="fullpage">
       <!--  <div class="section" style="background-image:url(/images/zt/z11.png);background-repeat: no-repeat;background-position:center center;"> -->
        <div class="section">
            <div class='page page1'>
                <img class='p1_text' src="<%= require('images/zt/xs/p1_text.png')%>" height="74" width="312">
                <img class='p1_y1' src="<%= require('images/zt/xs/p1_y1.png')%>" height="270" width="270">
                <img class='p1_y2' src="<%= require('images/zt/xs/p1_y2.png')%>" height="270" width="270">
                <img class='p1_s' src="<%= require('images/zt/xs/p1_s.png')%>" height="283" width="277">
                <div class='p1_text1'>
                    <p>分类销售，价值最大化</p>
                    <span>智能机、非智能机、品牌机、山寨机、大屏机、小屏机、高端机、低端机等</span>
                </div>
            </div>
        </div>
        <!-- <div class="section" style="background-image:url(/images/zt/z21.png);background-repeat: no-repeat;background-position:center center;"> -->
        <div class="section">
            <div class='page page2'>
                 <img class='p2_text' src="<%= require('images/zt/xs/p2_text.png')%>" height="85" width="220">
                 <img class='p2_left' src="<%= require('images/zt/xs/p2_left.png')%>" height="367" width="549">
                 <img class='p2_right' src="<%= require('images/zt/xs/p2_right.png')%>" height="290" width="381">
             </div>
        </div>
        <div class="section">
        <!--  <div class="section"> -->
            <div class='page page3'>
                 <img class='p3_pic2' src="<%= require('images/zt/xs/p3_pic2.png')%>" height="514" width="1200">
                 <img class='p3_text' src="<%= require('images/zt/xs/p3_text.png')%>" height="73" width="342">
                 <img class='p3_pic1' src="<%= require('images/zt/xs/p3_pic1.png')%>" height="480" width="424">
             </div>
        </div>
        <!--  <div class="section" style="background-image:url(/images/zt/z41.png);background-repeat: no-repeat;background-position:center center;"> -->
          <div class="section">
             <div class='page page4'>
                 <img class='p4_text' src="<%= require('images/zt/xs/p4_text.png')%>" height="73" width="369">
                 <img class='p4_pic1' src="<%= require('images/zt/xs/p4_pic1.png')%>" height="352" width="557">
                 <img class='p4_pic2' src="<%= require('images/zt/xs/p4_pic2.png')%>" height="319" width="404">
             </div>
        </div>
       <!--  <div class="section" style="background-image:url(/images/zt/z51.png);background-repeat: no-repeat;background-position:center center;"> -->
         <div class="section">
             <div class='page page5'>
                 <img class='p5_text' src="<%= require('images/zt/xs/p5_text.png')%>" height="72" width="296">
                 <img class='p5_pic1' src="<%= require('images/zt/xs/p5_pic1.png')%>" height="328" width="950">
                 <img class='p5_text2' src="<%= require('images/zt/xs/p5_text2.png')%>" height="39" width="335">
             </div>
        </div>
        <!-- <div class="section" style="background-image:url(/images/zt/z6.png);background-repeat: no-repeat;background-position:center center;"> -->
        <div class="section">
            <div class='page page6'>
                 <img class='p6_pic1' src="<%= require('images/zt/xs/p6_pic1.png')%>" height="625" width="800">
                 <img class='p6_text' src="<%= require('images/zt/xs/p6_text.png')%>" height="73" width="298">
             </div>
        </div>
        <div class="section" style="background-image:url(<%= require('images/zt/z7.png')%>);background-repeat: no-repeat;background-position:center center;">
          <a target="_blank" href="/page/sell/category.html" class='order_btn'>销售下单</a>
        </div>
 </div>