 <div class="dis_banner" style="background: url(<%= require('images/zt/soc_banner.jpg')%>) no-repeat center center;"></div>
    <div class='dis_content'>
        <div class='wrap_dis'>
            <h3>
                 <span>社会资源整合，促进行业或组织</span>
                 <p>倡导公益环保、加强便民服务、提示品牌形象</p>
            </h3>
            <div>
                <img src="<%= require('images/zt/soc_pic1.jpg')%>">
            </div>
        </div>
     </div>
     <div class='dis_content' style="background-color: #F5F3F4;">
        <div class='wrap_dis'>
            <h3>
                 <span>校园公益合作，帮助莘莘学子</span>
                 <p>绿色创业、勤工俭学、加入环保志愿者</p>
            </h3>
            <div>
                <img src="<%= require('images/zt/soc_pic2.jpg')%>">
            </div>
        </div>
     </div>
     <div class='dis_content'>
        <div class='wrap_dis'>
            <h3>
                 <span>站长联盟，可强强联合</span>
                 <p>加强品牌推广、增加广告收益、拓宽信息共享</p>
            </h3>
            <div>
                <img src="<%= require('images/zt/soc_pic3.jpg')%>">
            </div>
        </div>
     </div>
      <div class='dis_content' style="height:508px;background: url(<%= require('images/zt/soc_pic4.jpg')%>) no-repeat center center;">
        <!-- <div class='wrap_dis'>
            <h3>
                 <span>成熟的拆解物交易渠道</span>
                 <p>帮助拆解企业实现拆解物的最大化增值</p>
            </h3>
            <div>
                <img src="/images/zt/dis_pic4.jpg">
            </div>
        </div> -->
     </div>
     <div class='dis_content'>
        <div class='wrap_dis'>
            <h3>
                 <span>他们都在关注我们</span>
                 <p></p>
            </h3>
            <div>
                <img src="<%= require('images/zt/soc_pic5.jpg')%>">
            </div>
        </div>
</div>