<div class="dis_banner" style="background: url(<%= require('images/zt/dis_banner.jpg')%>) no-repeat center center;"></div>
<div class='dis_content'>
    <div class='wrap_dis'>
        <h3>
             <span>稳定、充足的货源供应</span>
             <p>完全满足拆解生成需求</p>
        </h3>
        <div>
            <img src="<%= require('images/zt/dis_pic1.jpg')%>">
        </div>
    </div>
 </div>
 <div class='dis_content' style="background-color: #FAFAFA;">
    <div class='wrap_dis'>
        <h3>
             <span>提供科学、高效、环保的拆解设备</span>
             <p>全面建设整套拆解生产线</p>
        </h3>
        <div>
            <img src="<%= require('images/zt/dis_pic2.jpg')%>">
        </div>
    </div>
 </div>
 <div class='dis_content'>
    <div class='wrap_dis'>
        <h3>
             <span>从回收端到拆解端</span>
             <p>全程智能化、自动化、信息化管理</p>
        </h3>
        <div>
            <img src="<%= require('images/zt/dis_pic3.jpg')%>">
        </div>
    </div>
 </div>
 <div class='dis_content' style="background-color: #FAFAFA;">
    <div class='wrap_dis'>
        <h3>
             <span>成熟的拆解物交易渠道</span>
             <p>帮助拆解企业实现拆解物的最大化增值</p>
        </h3>
        <div>
            <img src="<%= require('images/zt/dis_pic4.jpg')%>">
        </div>
    </div>
 </div>
 <div class='dis_content'>
    <div class='wrap_dis'>
        <h3>
             <span>国家环保新政策</span>
             <p>倡导资源再生，大力扶持环保拆解</p>
        </h3>
        <div>
            <img src="<%= require('images/zt/dis_pic5.jpg')%>">
        </div>
    </div>
 </div>