<div class="dis_banner" style="background: url(<%= require('images/zt/cen_banner.jpg')%>) no-repeat center center;height:400px;position: relative;top: -1px;">
     <a style="display: block;width: 100%;height: 100%;" target="_blank" href="http://www.taolv365.com/YearReport2015/"></a>
</div>
<div class='cen_content'>
    <div class='wrap_sal'>
        <h3>
             <span>科技高速发展时代，电子垃圾迅速堆积，绿色回收迫在眉睫</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/cen_pic1.jpg')%>">
        </div>
    </div>
</div>
<div class='cen_content' style="background-color: #F6F6F6;">
    <div class='wrap_sal'>
        <h3>
             <span>淘绿携手个人、行业、企业及社会组织，全面开展环保公益及回收服务</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/cen_pic2.jpg')%>">
        </div>
        <a target="_blank" class='btn1' href="/page/special/disassembly.html"></a>
        <a target="_blank" class='btn2' href="/page/special/salesService.html"></a>
        <a target="_blank" class='btn3' href="/page/special/sociology.html"></a>
    </div>
</div>
<div class='cen_content'>
    <div class='wrap_sal'>
        <h3>
             <span>致力于回收服务，维护生态环境，我们旨在</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/cen_pic3.jpg')%>">
        </div>
    </div>
</div>
 <div class='cen_content' style="background-color: #F6F6F6;padding-bottom:0;">
    <div class='wrap_sal' style="margin-bottom:50px;padding-bottom:0;">
        <h3>
             <span>用心，倡导绿色环保；坚持，完善回收服务</span>
        </h3>
        <div>
            <img src="<%= require('images/zt/cen_pic4.jpg')%>">
        </div>
    </div>
</div>